<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"
        tools:targetApi="34" />

    <application>
        <!-- Monitoring & configuration -->
        <activity
            android:name=".activity.IRMonitorComposeActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activity.IRMonitorChartComposeActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activity.IRMonitorChartLiteComposeActivity"
            android:exported="false"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.IRCamera" />
        <activity
            android:name=".activity.IRLogMPChartComposeActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activity.IRConfigComposeActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activity.IRCorrectionThreeComposeActivity"
            android:exported="false"
            android:screenOrientation="userPortrait" />

        <!-- Reporting -->
        <activity
            android:name=".report.activity.ReportCreateComposeActivity"
            android:exported="false"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".report.activity.ReportDetailComposeActivity"
            android:exported="false"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.IRCamera" />
        <activity
            android:name=".report.activity.ReportPreviewFirstComposeActivity"
            android:exported="false"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.IRCamera" />
        <activity
            android:name=".activity.ReportPreviewComposeActivity"
            android:exported="false"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activity.ReportPreviewSecondComposeActivity"
            android:exported="false"
            android:screenOrientation="userPortrait" />

        <!-- Thermal experiences -->
        <activity
            android:name=".activity.ThermalCameraComposeActivity"
            android:exported="false"
            android:label="Thermal Camera (Compose)"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activity.IRMainComposeActivity"
            android:exported="false"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.IRCamera" />
        <activity
            android:name=".activity.ThermalGalleryComposeActivity"
            android:exported="false"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.IRCamera" />
        <activity
            android:name=".activity.ThermalReportComposeActivity"
            android:exported="false"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.IRCamera" />
        <activity
            android:name=".activity.IRThermalDoubleComposeActivity"
            android:exported="false"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.IRCamera" />
        <activity
            android:name=".activity.ThermalIrNightComposeActivity"
            android:exported="false"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.IRCamera" />
        <activity
            android:name=".activity.ImageColorComposeActivity"
            android:exported="false"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.IRCamera" />
        <activity
            android:name=".activity.MonitorLogComposeActivity"
            android:exported="false"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.IRCamera" />

        <!-- User experience screens (previously component:user) -->
        <activity
            android:name="com.mpdc4gsr.module.user.activity.QuestionComposeActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name="com.mpdc4gsr.module.user.activity.QuestionDetailsComposeActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name="com.mpdc4gsr.module.user.activity.UnitComposeActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name="com.mpdc4gsr.module.user.activity.MoreComposeActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name="com.mpdc4gsr.module.user.activity.StorageSpaceComposeActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name="com.mpdc4gsr.module.user.activity.DeviceDetailsComposeActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name="com.mpdc4gsr.module.user.activity.ElectronicManualComposeActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name="com.mpdc4gsr.module.user.activity.TISRComposeActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name="com.mpdc4gsr.module.user.activity.AutoSaveComposeActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <!-- Note: Component module activities are explicitly listed to avoid duplicate declarations -->
    </application>

</manifest>
