# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto eol=lf

# Explicitly declare text files you want to always be LF.
*.{kt,java,xml,md,gradle,properties,pro} text eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf
*.ps1 text eol=crlf