<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    >
    <application>

        <activity android:name=".activity.IRMonitorLiteActivity" />
        <activity android:name=".activity.IRMonitorChartLiteActivity" />
        <activity android:name=".activity.IRCorrectionLiteThreeActivity" />
        <activity android:name=".activity.IRCorrectionLiteFourActivity" />
        <activity
            android:name=".activity.ImagePickIRLiteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.IRThermalLiteActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask"
            android:maxAspectRatio="2.4"
            android:requestLegacyExternalStorage="true"
            android:screenOrientation="userPortrait"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>
