<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- User Module Activities - Migrated to Compose -->
        <activity
            android:name=".activity.QuestionComposeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activity.QuestionDetailsComposeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activity.UnitComposeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activity.MoreComposeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activity.StorageSpaceComposeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activity.DeviceDetailsComposeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activity.ElectronicManualComposeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activity.TISRComposeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activity.AutoSaveComposeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
            
        <!-- Legacy Activities (deprecated - use Compose versions above) -->
        <!-- <activity android:name=".activity.LanguageActivity" android:launchMode="singleTop" android:screenOrientation="userPortrait" /> (never implemented) -->
        <!-- <activity android:name=".activity.QuestionActivity" android:launchMode="singleTop" android:screenOrientation="userPortrait" /> -->
        <!-- <activity android:name=".activity.QuestionDetailsActivity" android:launchMode="singleTop" android:screenOrientation="userPortrait" /> -->
        <!-- <activity android:name=".activity.UnitActivity" android:launchMode="singleTop" android:screenOrientation="userPortrait" /> -->
        <!-- <activity android:name=".activity.MoreActivity" android:launchMode="singleTop" android:screenOrientation="userPortrait" /> -->
        <!-- <activity android:name=".activity.StorageSpaceActivity" android:launchMode="singleTop" android:screenOrientation="userPortrait" /> -->
        <!-- <activity android:name=".activity.DeviceDetailsActivity" android:launchMode="singleTop" android:screenOrientation="userPortrait" /> -->
        <!-- <activity android:name=".activity.ElectronicManualActivity" android:launchMode="singleTop" android:screenOrientation="userPortrait" /> -->
        <!-- <activity android:name=".activity.TISRActivity" android:launchMode="singleTop" android:screenOrientation="userPortrait" /> -->
        <!-- <activity android:name=".activity.AutoSaveActivity" android:launchMode="singleTop" android:screenOrientation="userPortrait" /> -->
    </application>
</manifest>